<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ cart.total_price }}
    {{ cart.total_items_by_quantity }}
    {{ cart.total_items_by_product_type }}
<hr>
{% for item in cart_items %}
    {{ item.name }}
    {{ item.price }}
    {{ item.quantity }}

    <form method="post" action="{% url 'djancommerce:item_update' item.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">Update</button>
    </form>

<form method="post" action="{% url 'djancommerce:item_delete' item.id %}">
{% csrf_token %}
    <button name="submit">Delete</button>
</form>
    <br>
{% endfor %}

<a href="{% url 'djancommerce:create_order' %}">Checkout</a>
</body>
</html>